extends layout

block content
	.container
		.panel.panel-default
			.panel-body
				h1 Abouts us and our mision here:
				hr
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero tenetur eum, esse eveniet eligendi odit laboriosam reiciendis, omnis nulla, a ipsam id ex! Aut consectetur vitae, necessitatibus debitis laudantium modi.