extends layout

block content
	.container
		h1 Contact and Support NoMoEStore
		ul.list-group
			li.list-group-item
				h3 Contact:
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi nam ducimus consequuntur dolores ipsum sit doloribus ipsa soluta alias omnis minima velit debitis ut exercitationem, aliquam praesentium esse dolorum, placeat.
			li.list-group-item
				h3 Support:
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi nam ducimus consequuntur dolores ipsum sit doloribus ipsa soluta alias omnis minima velit debitis ut exercitationem, aliquam praesentium esse dolorum, placeat.
			li.list-group-item
				h3 Complaints and Claims
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi nam ducimus consequuntur dolores ipsum sit doloribus ipsa soluta alias omnis minima velit debitis ut exercitationem, aliquam praesentium esse dolorum, placeat.
			li.list-group-item
				h3 Level of Satisfaction:
				div(role="alert").alert.alert-success High
				div(role="alert").alert.alert-warning Mid
				div(role="alert").alert.alert-danger Low
			li.list-group-item
				h3 Suggestions:
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi nam ducimus consequuntur dolores ipsum sit doloribus ipsa soluta alias omnis minima velit debitis ut exercitationem, aliquam praesentium esse dolorum, placeat.
