extends layout

block content
	.container
		.row
			- for (var i = 0; i < items.length ; ++i) {
			div.col-md-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Phone: #{items[i].name}
					.panel-body
						img(src="img/#{items[i].img}", width="200").device
						hr
						h4 Caracteristicas:
						ul.list-group
							li.list-group-item Color: #{items[i].color}
							li.list-group-item Price: #{items[i].price}

				
			- }	